@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./splideSpace.css");

#timer-slide ul.splide__pagination > li {
  display: flex;
}
#timer-slide
  ul.splide__pagination
  > li
  > button.splide__pagination__page.is-active {
  border-radius: 20px;
  width: 8px;
  height: 23px;
  background-color: rgba(255, 198, 74, 1);
  opacity: 1;
  transition: height cubic-bezier(0.37, 0.5, 0.74, 0.05) 400ms;
}

#timer-slide ul.splide__pagination > li > button.splide__pagination__page {
  border-radius: 20px;
  width: 8px;
  height: 8px;
  background-color: rgba(170, 170, 170, 0.5);
}

#timer-slide
  ul.splide__pagination
  > li
  > button.splide__pagination__page.im-next {
  transition: height cubic-bezier(0.37, 0.5, 0.74, 0.05) 300ms;
  border-radius: 20px;
  width: 8px;
  height: 18px;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
}
